<!doctype html>
<html lang="en" class="h-100">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link href="css/floating-labels.css" rel="stylesheet">
  <title>Login</title>
</head>
<body class="h-100">

<div class="container-fluid h-100">
  <div class="h-100 d-flex flex-column justify-content-center align-items-center">
    <div class="card" style="width: 400px">
      <div class="card-body">
        <form th:action="@{/login}" class="form-signin" method="post">
          <div class="text-center mb-4">
            <h1 class="h3 mb-4 font-weight-normal">Iniciar Sesión</h1>
          </div>

          <div class="form-label-group">
            <input type="text" id="inputEmail" class="form-control" placeholder="Usuario" name = "username" required>
            <label for="inputEmail">
              <i class="fa fa-user" aria-hidden="true"></i>
              Usuario
            </label>
          </div>

          <div class="form-label-group">
            <input type="password" id="inputPassword" class="form-control" placeholder="Contraseña" name = "password" required>
            <label for="inputPassword">
              <i class="fa fa-lock" aria-hidden="true"></i>
              Contraseña
            </label>
          </div>
          <button class="btn btn-lg btn-success btn-block" type="submit">Iniciar Sesión</button>
          <p class="mt-4 text-center">¿No tienes una cuenta? <span><a href="/form">Registrate</a></span></p>
          <p class="mt-4 mb-1 text-muted text-center">&copy; Proyecto Capas 2020</p>
        </form>
        <div th:if="${param.error}" class="alert alert-danger" role="alert">
        	Invalid username or password
        </div>
        <div th:if="${param.logout}" class="alert alert-success" role="alert">
        	You have been logged out.
        </div>
        
        
      </div>
    </div>
  </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>