<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <title>Registrate</title>
</head>
<body style="background-color: #f5f5f5">

<div class="container-fluid">
    <div class="d-flex flex-column justify-content-center align-items-center">
        <div class="card mt-4 mb-4 col-sm-7">
            <div class="card-body">
                <form th:action="@{/insertUser}" th:object="${usuario}" method="post">
                    <div class="text-center mb-4">
                        <h1 class="h3 mb-4 font-weight-normal">Registrate</h1>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputNombre">Nombre</label>
                            <input type="text" th:field="*{nombre}" class="form-control" id="inputNombre" placeholder="Nombre">
                            <span th:errors="*{nombre}" style=color:#FF0000></span><br>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputApellido">Apellido</label>
                            <input type="text" th:field="*{apellido}" class="form-control" id="inputApellido" placeholder="Apellido">
                            <span th:errors="*{apellido}" style=color:#FF0000></span><br>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputFechaNac">Fecha de nacimiento</label>
                        <input type="date" th:field="*{fechaBD}" class="form-control" id="inputFechaNac">
                        <span th:errors="*{fechaBD}" style=color:#FF0000></span><br>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputDepartamento">Departamento</label>
                            <select id="inputDepartamento" class="form-control">
                                <option selected>Departamento...</option>
                                <option>...</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputMunicipio">Municipio</label>
                            <select id="inputMunicipio" th:field="*{municipio.idMunicipio}" class="form-control">
                                <option th:each="m: ${municipios}" th:value="${m.idMunicipio}" th:text="${m.nombreMunicipio}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputDireccion">Direccion</label>
                        <input type="text" th:field="*{direccion}" class="form-control" id="inputDireccion" placeholder="1234 Calle Principal St">
                        <span th:errors="*{direccion}" style=color:#FF0000></span><br>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="inputUsuario">Usuario</label>
                            <input type="text" th:field="*{nombreUsuario}" class="form-control" id="inputUsuario" placeholder="Usuario">
                            <span th:errors="*{nombreUsuario}" style=color:#FF0000></span><br>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputContraseña">Contraseña</label>
                            <input type="password" th:field="*{contrasennia}" class="form-control" id="inputContraseña" placeholder="*********">
                            <span th:errors="*{contrasennia}" style=color:#FF0000></span><br>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputRol">State</label>
                            <select id="inputRol" class="form-control">
                                
                                <option selected>Administrador</option>
                                <option>Coordinador</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-2">Estado: </div>
                        <div class="col-sm-10">
                            <div class="form-check">
                                <input class="form-check-input" th:field="*{estado}" type="checkbox" id="inputEstado">
                                <label class="form-check-label" for="inputEstado">
                                    Activo
                                </label>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-lg btn-success btn-block mt-4" type="submit">Registrar</button>
                    <p class="mt-4 text-center">¿Ya tienes cuenta? <span><a href="/login">Iniciar Sesión</a></span></p>
                    <p class="mt-3 mb-0 text-muted text-center">&copy; Proyecto Capas 2020</p>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>