<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Login</title>
</head>
<body>
<h1>Login</h1>
<form th:acthion="@{/Login}" th:object="${usuario}" method="post">

	<label>User: </label>
	<input th:field = "*{nombreUsuario}" type="text" size="40" placeholder="User"><br><br>
	
	<label>Password</label>
	<input th:field="*{contrasennia}" type="password" size="40" placeholder="Password"><br><br>
	
	<input type="submit" value="Continuar">
</form><br><br>

<form th:action="@{/form}">
	<input type="submit" value="Nueva Cuenta">
</form>

</body>
</html>