<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>New User</title>
</head>
<body>

<form th:action="@{/admin/post/editUsuario}" th:object="${usuario}" method="post">
        <div class="title">
            <i class="fas fa-pencil-alt"></i>
            <h2>Usuario</h2>
        </div>
        <input hidden th:field="*{idUsuario}">
        <div class="info">
            <input class="fname" type="text" th:field="*{nombreUsuario}" name="materia" placeholder="Nombre Usuario">
            <input type="text" name="constrasennia" th:field="*{contrasennia}"  placeholder="Contraseña">
            <input type="text" name="nombre" th:field="*{nombre}"  placeholder="Nombre completo">
            <input type="text" name="apellido" th:field="*{apellido}"  placeholder="Apellido completo">
            <input type="text" name="direccion" th:field="*{direccion}"  placeholder="Direccion">

            <select th:field="*{municipio.idMunicipio}" >
                <option th:each="m: ${municipios}" th:value="${m.idMunicipio}" th:text="${m.nombreMunicipio}"></option>
            </select>
        </div>
        <div>
            <input type="date" id="fnacimiento" class="form-control" th:field="*{fechaBD}" >
        </div>
        <div class="checkbox">
            <input type="checkbox" th:field="*{estado}" name="checkbox"><span>¿Estado Activo?</span>
        </div>
        <div class="checkbox">
            <input type="checkbox" th:field="*{admin}" name="checkbox"><span>¿Es admin?</span>
        </div>


        <button type="submit">Submit</button>
    </form>

</body>
</html>